// ==========| Colors |========== \\

$primary-color: #000000;
$secendory-color: #292929;

// ==========| End Colors |========== \\

// ==========| Fonts |========== \\

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// ==========| End Fonts |========== \\
