.footer {
  padding-top: 50px;
  @media screen and (min-width: $laptop) {
    padding-top: 70px;
  }

  &__container {
    position: relative;
    background-repeat: no-repeat;
    height: 416px;

    @media screen and (max-width: 767px) {
      background: url(../images/footer/mobile/footer-bg-mobile.png) left top;
    }

    @media screen and (min-width: $tablet) {
      background: url(../images/footer/tablet/footer-bg-tablet.png) no-repeat;
    }

    @media screen and (min-width: $laptop) {
      height: 496px;
      background: url(../images/footer/laptop/footer-bg-laptop.png) no-repeat;
    }

    @media screen and (min-width: $laptop) {
      height: 660px;
      background: url(../images/footer/desktop-first/footer-bg-desk1.png)
        no-repeat;
    }
  }

  &__bonum-logo {
    margin-top: 50px;
    width: 65px;
    height: 20px;
  }

  &__title {
    padding-top: 51px;
    text-align: right;

    font-size: 42px;
    font-weight: $fw-bold;
    line-height: 1.2;

    @media screen and (min-width: $tablet) {
      margin-left: auto;
      margin-right: 121px;
    }

    @media screen and (min-width: $laptop) {
      padding-top: 91px;
      font-size: 48px;
      margin-right: 140px;
    }

    @media screen and (min-width: $desktop-first) {
      padding-top: 105px;
      font-size: 72px;
      margin-right: 220px;
    }
  }

  &__text {
    position: absolute;
    margin-top: 37px;
    transform: rotate(-90deg);
    top: 211px;
    left: 112px;

    font-size: 13px;
    font-weight: $fw-medium;

    @media screen and (min-width: $tablet) {
      left: 370px;
    }

    @media screen and (min-width: $laptop) {
      top: 260px;
      left: 465px;
    }

    @media screen and (min-width: $desktop-first) {
      font-size: 14px;
      top: 300px;
      left: 705px;
    }
  }
}
