.footer {
  padding-top: 50px;

  &__container {
    position: relative;
    background-repeat: no-repeat;
    height: 416px;

    @media screen and (max-width: 767px) {
      background: url(../images/footer/mobile/footer-bg-mobile.png) left top;
    }

    @media screen and (min-width: $tablet) {
      background: url(../images/footer/tablet/footer-bg-tablet.png) no-repeat;
    }
  }

  &__bonum-logo {
    margin-top: 50px;
    width: 65px;
    height: 20px;
  }

  &__title {
    padding-top: 51px;
    text-align: right;

    font-size: 42px;
    font-weight: $fw-bold;
    line-height: 1.2;

    @media screen and (min-width: $tablet) {
      margin-left: auto;
      margin-right: 121px;
    }
  }

  &__text {
    position: absolute;
    margin-top: 37px;
    transform: rotate(-90deg);
    top: 211px;
    left: 112px;

    font-size: 13px;
    font-weight: $fw-medium;

    @media screen and (min-width: $tablet) {
      left: 370px;
    }
  }
}
